<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.NewsMapper">
    <insert id="saveNews">
        insert into news_inf values (null , #{title} , #{content})
    </insert>
    <update id="updateNews">
        update news_inf set news_title = #{title} , news_content = #{content} where news_id = #{id}
    </update>
    <update id="deleteNews">
        delete from news_inf where news_id = #{id}
    </update>
    <select id="findNews" resultType="Map">
        select * from news_inf where news_id > #{id}
    </select>
</mapper>
